<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessapp">

    <!-- Add the INTERNET permission here -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add the RECEIVE_BOOT_COMPLETED permission here -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/btn_settings1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/btn_settings1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31"
        >


        <!-- Define notification channel -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_name" />



        <!-- Define the service -->
        <service
            android:name=".classes.NotificationService"
            android:enabled="true"
            android:exported="false" />



        <!-- Other application components -->

        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
